@import "reset";
@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
}

.clicked {
  color: rgb(130, 209, 209);
}

.btn {
  cursor: pointer;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  transition: color 1s ease-in-out;
}

body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100vw;
  height: 100vh;
}

article {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

article:first-child {
  color: yellow;
}

@include responsive("tab") {
}

@include responsive("mobile-l") {
}
